<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css2/styles.css">


    <title>index</title>
</head>

<body>

    <%- include ('partials/navBar') %>
        <%- include ('partials/header') %>

    <div class="container">
        <br>
        <h1>Perguntas</h1>
        <hr>
        <a href="/perguntar" class="btn btn-primary" >Perguntar</a>
        <% perguntas.forEach(perguntas =>{ %> 
            <br>
            <div class="card-body">
            <h3><%= perguntas.titulo %></h3>
            </div>
            <div class="card-footer">
                <a href='/pergunta/<%= perguntas.id%>'>
                    <button class ='btn btn-primary'>
                        Responder
                    </button>
                   
                </a>
                </div>
                <%})%>
            </div>

</body>

            <%- include ('partials/footer') %>

</html>